$orange: #f15722;
$white: #FFFFFF;
$light-grey: #212121;
$dark-grey: #111111;

$brand-primary: $orange;
$brand-success: $orange;

$state-success-text: $orange;
$state-success-bg: lighten($orange, 30%);

$navbar-height: 100px;
$navbar-margin-bottom: 0;
$navbar-default-color: $dark-grey;
$navbar-default-bg: $white;
$navbar-default-border: $white;
