$orange: #f15722;
$white: #FFFFFF;
$light-grey: #212121;
$dark-grey: #111111;

// bootstrap variable overrides.
$icon-font-path: '../vendor/bootstrap-sass/assets/fonts/bootstrap/';

$brand-primary: $orange;

$navbar-height: 100px;
$navbar-margin-bottom: 0;
$navbar-default-color: $dark-grey;
$navbar-default-bg: $white;
$navbar-default-border: $white;
