{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for group in lineups_by_date %}
                <div class="col-xs-12">
                    <h1>{{ group.date|date:'l, F j, Y' }}</h1>
                    {% for lineup in group.lineups %}
                        {% if lineup.product.first.image %}
                            <img src="{{ lineup.product.first.image.url }}">
                        {% else %}
                            <img src="{% static "images/nba_silver_large.png" %}">
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
