{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            {% if validlink %}
                {% crispy form %}
            {% else %}
                <p>The password reset link was invalid, possibly because it has already been used. <a href="{% url 'password_reset' %}">Please request a new password reset.</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
