{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p>{{ page.date }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="intro">{{ page.intro }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="body">{{ page.body|richtext }}</div>
            </div>
        </div>
    </div>
{% endblock %}
